<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><b>Dropex</b></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Upload</a></li>
            <li><a href="/download">Download</a></li>
            <li><a href="/settings">Settings</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/terms">Terms of Use</a></li>
            <li><a href="../navbar-static-top/">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


  <!-- Page Content -->
    <div class="container">
        <div class="row">
        	<br><br><br>
        	<center><h1><b>Dropex</h1> <h3>Terms of Service and Privacy Policy</h3></b></h1>
        	<span id="helpBlock" class="help-block">Just in case if you try to sue me.</span>

        	</center><br>
        	<h4>INTRODUCTION</h4>
<li>Dropex.co provides a service for uploading and/or downloading files by the users. 
Dropex.co is managed by an administrator that has the right to modify the terms of service at any time without notice.</li>
<li>When uploading or downloading a file in this website, you are agreeing to the terms of service.</li>


<br><h4>TERMS OF SERVICE</h4>
<li>Dropex.co does not allow files being uploaded which violates pornographic, copyright, or illegal laws of the United States of America. Upon notice, these files will be deleted immediately. </li>
<li>Files that are uploaded onto Dropex.co will not be responsible for any damages done by the uploader’s actions.</li>
<li>Dropex.co is not responsible on who will have access to the files a user uploads. The secret code given to the user is the user’s responsibility.</li>
<li>Files uploaded onto Dropex.co are entitled to be copyright to the owner. Dropex.co is not in any way affiliated with the files being uploaded onto Dropex.co and the hosting provider.</li>
<li>All legal responsibility on the files being uploaded rests on the user uploading the file.</li>
<li>By downloading or uploading in Dropex.co, you, the user will agree not to bring Dropex.co into any type of legal action.</li>
<li>If a file uploaded in Dropex.co’s servers and raises suspicion of breaking the terms of service, Dropex.co holds the right to scan, investigate, or remove the file.</li>

<br><h4>PRIVACY POLICY</h4>
<li>Dropex.co stores cookies on the user’s computer if the user chooses to. Cookie storing happens only when one changes the settings.</li>
<li>Files being uploaded will be masked with a secret code you’re given upon uploading. These files are stored in a secure server where anyone who has access to the code will be able to download these files. These files may be removed if it raises suspicion upon legal issues.</li>
<br><h4>EXCEPTION TO THE PRIVACY POLICY</h4>
<li>Requested files and information being kept in our database will be handed over to US government authorities upon request.</li>
<li>If a user breaks the terms of service set by Dropex.co, the respective file uploaded by the user will be removed immediately.</li>
<br><br><br><br><br><%=link_to "back home", "/"%><br><br><br><br><br><br><br><br><br><br>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->